rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Colección de perfiles - cualquier usuario autenticado puede hacer todo
    match /profiles/{profileId} {
      allow read, create, update, delete: if request.auth != null;
    }

    // Colección de categorías - cualquier usuario autenticado puede hacer todo
    match /categories/{categoryId} {
      allow read, create, update, delete: if request.auth != null;
    }

    // Colección de registros - cualquier usuario autenticado puede hacer todo
    match /records/{recordId} {
      allow read, create, update, delete: if request.auth != null;
    }
  }
}